
@{
    ViewData["Title"] = "About";
}
<head>
    <style>
        /* Change the link color on hover */
        li a:hover {
            background-color: white;
            color: black;
        }
        body {
            background-color: beige;
        }
    </style>
</head>
<head>
    <style>
        .p1 {
            font-family: "Engravers MT", Times, serif;
        }
    </style>
</head>
<body>

    <h1>Prestige Groom Room</h1>
    <p class="p1">Here At The Prestige Groom Room We Groom Our Clients To Look The Best They Can For Any Type Of Occasion!</p>

</body>




