
@{
    ViewData["Title"] = "About";
}
<head>
    <style>
        /* Change the link color on hover */
        li a:hover {
            background-color: white;
            color: black;
        }
        body {
            background-color: beige;
        }
        .p1 {
            font-family: "Engravers MT", Times, serif;
        }
    </style>
</head>
<h1>About</h1>

