
@{
    ViewData["Title"] = "About";
}
<head>
    <style>
        /* Change the link color on hover */
        li a:hover {
            background-color: dimgrey;
            color: black;
        }
    </style>
</head>
<h1>About</h1>