
@{
    ViewData["Title"] = "ContactUs";
}

<h1>Contact Us</h1>
<html>
<body>


    <p style="background-color:white;">Email: Prestigegroomroom@gmail.com</p>
    <p style="background-color:white;">Phone: 09-557 8427</p>
    <p style="background-color:white;">Mobile: 0224354692</p>
    <p style="background-color:white;">Instagram:PrestigeGroomRoom</p>
    <p style="background-color:white;">Facebook:PrestigeGroomRoom</p>


</body>
</html>


