@{
    ViewData["Title"] = "Home Page";
}


<body>
    <div class="content">
        <div class="images">
 <img src="~/Imagse/89253120_106270510996304_8287816263003013120_o.jpg" />
        </div>
    </div>
<script>

</script>
    </body>

<div class="text-center">
    <h1 style="font-family:'Old English Text MT'" ;"color:black;">Prestige Groom Room</h1>
    <p style="font-family:'Old English Text MT'" ;"color:black;">Welcome To The Official Website For Prestige Groom Room</p>
</div>