@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<head>
    <style>
        /* Change the link color on hover */
        li a:hover {
            background-color: grey;
            color: black;
        }
    </style>
</head>
<div class="text-center">
    <h1 style="font-family:'verdana';"color:black;">Prestige Groom Room</h1>
    <p style="font-family:'Verdana'" ;"color:black;">Welcome To The Official Website For Prestige Groom Room</p>
</div>

