@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('');
        background-repeat: no-repeat;
    }
</style>
<div class="text-center">
    <h1 style="color:white;">Prestige Groom Room</h1>
    <p style="color:white;">Welcome To The Official Website For Prestige Groom Room</p>
</div>
